<br><br><br><h1 align="center">Binita&apos;s Slam Book</h1>
<br><br>
<p>Hi buds!!<br><br> 
Remember back when we were kids? <br><br>
The last few months of school were mostly spent 
exchanging memories through Slam books with people who have been in our lives for such a long time- 
People who we may never see again in the future as we venture into different colleges living our own lives- 
Yet people who we refuse to forget.<br><br>

This final year of college I send a virtual one around to capture the memories we made throughout these years.<br><br>

If you got this link, you probably know me. 
Thank me for being the blessing in your life through this Slam book. 
<br><br><br>
Dumbledore once said, It takes a great deal of bravery to stand up to our enemies, but just as much to stand up to our friends.
<br>Honouring that great man&apos;s words, feel free to bash me in this slam book if you wish😂  <br>
</p>
