<p id="notice"><%= notice %></p>

<h1>Wow!!! You found a secret portal in Binita&apos;s Slam!!</h1>
<br><br><h3>You must be one curious kid! </h3>
<br><br><h4> I never thought someone would reach here... <br><br><br><br>
Tell Binita this secret message, "The human alloy made of Bismuth, Nickel and Tantalum is the best"</h4>
